<div class="col-sm-11 col-xs-12 blog-content">
	<h2 class="text-center"><%= @post.title %></h2>
	<h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
	<div class="text-center"><%= raw(@post.body) %></div>

	<p class="text-center">
		<% if @post.user == current_user %>
	        <%= link_to 'Edit', edit_post_path(@post) %> |
	        <%= link_to 'Destroy', @post, method: :delete, data: { :confirm => "Are you sure?" } %> |
        <% end %>
        <%= link_to 'See All Posts', posts_path %>
    </p>
</div>
